.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hdrbg {
  background: linear-gradient(20deg, #4558b6 15%, #2d2475 87%);
  color: white;
  height: 60px;
  text-align: center;
  padding-left: 200px;
}

.col-auto {
    flex-grow: 1;
    flex-basis: 0;
}

.container {
    margin:0;
}

.biggestDisplay {
    color: black;
    background-color: white;
    border: 1px solid #1a1a1a;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

label {
    font-weight: 500;
    font-size: x-large;
}

#fetch-button {
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #4558b6;
    color: white;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.card {
    border: 1px solid #1a1a1a;
    margin-bottom: 1rem;
    padding: 0.375rem;
    background-color: #323d4f;
    color: #d9e9e8;
    border-radius: 5px;
}

footer {
    height: 100px;
}