.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hdrbg {
  background: linear-gradient(20deg, #12b3eb 15%, #5460f9 87%);
  color: white;
}

.col-auto {
    flex-grow: 1;
    flex-basis: 0;
}

.card {
    border: 1px solid #1a1a1a;
    margin-bottom: 1rem;
}

.card .card-header {
    padding: 0.375rem;
    background-color: #2d3e50;
    color: #d9e9e8;
}

.card .card-body {
    padding: 0.375rem;
}

.card .card-footer {
    border-top: 1px solid #1a1a1a;
    padding: 0.375rem;
}

.card.card-rounded {
    border-radius: 0.3rem;
}

.card.card-rounded .card-header {
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}